## mako
<%! from django.utils.translation import ugettext as _ %>
<%namespace name='static' file='/static_content.html'/>
<%block name="bodyclass">view-in-course</%block>
<%block name="pagetitle">${_("Retroalimentacion del Estudiante")}</%block>
<%inherit file="/main.html" />
<%block name="headextra">
<%static:css group='style-course'/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
</%block>
<%include file="/courseware/course_navigation.html" args="active_page='eol_feedback'" />

<% from lms.djangoapps.courseware.courses import get_studio_url %>

<style>
    .wrapper-course-material .course-tabs {
        padding: 0px !important;
    }

    #main div {
        border: none;
        display: block;
    }

    #main {
        border: 1px solid #c8c8c8;
    }

    #feedback-general {
        border-radius: 0.4rem;
    }

    #feedback-general .bg-dark {
        border-radius: 0rem 0.4rem 0.4rem 0rem;
    }

    #feedback-general button:hover,
    #feedback-general button:focus,
    #feedback-general button:active {
        background-image: none !important;
        background-color: var(--primary) !important;
        box-shadow: none;
    }

    .update_visibility button.btn-outline-danger:hover,
    .update_visibility button.btn-outline-danger:focus,
    .update_visibility button.btn-outline-danger:active {
        background-image: none !important;
        background-color: var(--primary) !important;
        box-shadow: none;
    }

    .update_visibility button.btn-outline-success:hover,
    .update_visibility button.btn-outline-success:focus,
    .update_visibility button.btn-outline-success:active {
        background-image: none !important;
        background-color: #28a745 !important;
        box-shadow: none;
    }

    #main .bg-light {
        background-color:#ededed !important;
    }
    
    div.progress {
        background-color: white;
        width: 200px;
    }

    .divno_retro{
        padding: 10px;
        border: var(--primary) 2px solid!important;
        border-radius: 11px;
        text-align: center;
        width: 640px!important;
        margin: 0px auto;
    }

    .no_retro{
        text-align:center;
    }
</style>

<%
    if staff_access:
        is_staff_view = not masquerade or masquerade.role != "student"
    else:
        is_staff_view = False
%>
<main id="main" aria-label="Content" tabindex="-1">
    <div class="container my-4">
        <h2 class="hd hd-2">Retroalimentación Controles</h2>
        <h3 class="hd hd-3 text-black-50">${course.display_name_with_default_escaped}</h3>
        <!-- General Content -->
        <!--
        <h2 class="hd hd-2 mt-2 text-center text-primary">Información General</h2>
        <div class="row d-flex bg-light my-2" id="feedback-general">
            <div class="col-6 col-md-4 py-2 my-auto">
                <p class="font-weight-bold text-center mt-2">NOTA FINAL <i data-toggle="tooltip" data-placement="top" title="Nota Parcial" class="fas fa-info-circle"></i></p>
                <script>
                    $(function () {
                        $('[data-toggle="tooltip"]').tooltip()
                    })
                </script>
                <div class="mt-3 text-center">
                    <%
                        final_grade = grade_percent_scaled(grade_summary['percent'], grade_cutoff)
                    %>
                    <h3 class="d-inline bg-white rounded py-2 px-4">${final_grade}</h3>
                </div>
            </div>
              <div class="col-6 col-md-4 py-2 my-auto">
                <p class="font-weight-bold my-2">Escala de Calificación</p>
                <%
                    course_grade_cutoffs_pass = int(grade_cutoff*100)
                %>
                <p class="font-weight-light my-2">${course_grade_cutoffs_pass}% de exigencia</p>
                <p class="font-weight-bold mt-3">Porcentaje de Logro</p>
                <div class="progress my-2">
                    <%
                        student_avg_percent = grade_summary['percent'] * 100
                    %>
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                    aria-valuenow="${student_avg_percent}" aria-valuemin="0" aria-valuemax="100" style="width:${student_avg_percent}%">
                        ${int(student_avg_percent)}%
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 py-2 bg-dark text-white my-auto">
                <p class="my-3"><span class="font-weight-bold">Promedio del Curso:</span> <span class="font-weight-light"></span> ${avg_grade}</p>
                <p class="my-3"><span class="font-weight-bold">Nota Mínima:</span> <span class="font-weight-light"></span> ${min_grade}</p>
                <p class="my-3"><span class="font-weight-bold">Nota Máxima:</span> <span class="font-weight-light"></span> ${max_grade}</p>
            </div>
        </div>
        -->

        <hr class="divider my-4">

        % if not is_staff_view:
            <!-- 'Control' Content -->
            <%
              no_retro = True
            %>
            %for section in courseware_summary:
                <%
                    percent_preg_evaluadas = .0
                    counter_preg_evaluadas = 0
                    format_preg_evaluadas = ""
                %>
                % if get_section_visibility(section['url_name'], course.id):
                    %for subsection in section['sections']:
                        % if subsection.format and ('Preguntas Evaluadas' in subsection.format or 'Preguntas Calificadas' in subsection.format):
                            <%
                                counter_preg_evaluadas += 1
                                percent_preg_evaluadas += subsection.percent_graded
                                format_preg_evaluadas = subsection.format
                            %>
                        % endif
                        % if subsection.format and ('Control' in subsection.format):
                            <!-- Preguntas Evaluadas -->
                            % if counter_preg_evaluadas != 0:
                                <%
                                    no_retro = False
                                    percent_preg_evaluadas /= counter_preg_evaluadas
                                    grade_preg_evaluadas = grade_percent_scaled(percent_preg_evaluadas, grade_cutoff)
                                    percent_preg_evaluadas *= 100
                                %>
                                <h2 class="hd hd-2 my-2 text-center text-primary">${format_preg_evaluadas}</h2>
                                <div class="row d-flex bg-light my-2" id="feedback-general">
                                    <div class="col-6 col-md-4 py-2 my-auto">
                                        <p class="font-weight-bold text-center my-2">NOTA</p>
                                        <div class="my-3 text-center">
                                            <h3 class="d-inline bg-white rounded py-2 px-4">${grade_preg_evaluadas}</h3>
                                        </div>
                                    </div>
                                    <div class="col-6 col-md-8 py-2 my-auto">
                                        <p class="font-weight-bold mt-3">Porcentaje de Logro</p>
                                        <div class="progress my-2">
                                            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                            aria-valuenow="${percent_preg_evaluadas}" aria-valuemin="0" aria-valuemax="100" style="width:${percent_preg_evaluadas}%">
                                                ${int(percent_preg_evaluadas)}%
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            % endif
                            <!-- Control -->
                            <%
                                grade = grade_percent_scaled(subsection.percent_graded, grade_cutoff)
                                percent = subsection.percent_graded*100
                                no_retro = False
                            %>
                            <h2 class="hd hd-2 my-2 text-center text-primary">${subsection.format}</h2>
                            <div class="row d-flex bg-light my-2" id="feedback-general">
                                <div class="col-6 col-md-4 py-2 my-auto">
                                    <p class="font-weight-bold text-center my-2">NOTA</p>
                                    <div class="my-3 text-center">
                                        <h3 class="d-inline bg-white rounded py-2 px-4">${grade}</h3>
                                    </div>
                                </div>
                                <div class="col-6 col-md-8 py-2 my-auto">
                                    <p class="font-weight-bold mt-3">Porcentaje de Logro</p>
                                    <div class="progress my-2">
                                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                                        aria-valuenow="${percent}" aria-valuemin="0" aria-valuemax="100" style="width:${percent}%">
                                            ${int(percent)}%
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 border-top border-white py-2 my-auto">
                                    <div class="row d-flex">
                                        <%
                                            correct_blocks = []
                                            incorrect_blocks = []
                                            for block, score in subsection.problem_scores.items():
                                                block_feedback = get_feedback(block.block_id)
                                                if score.earned == score.possible:
                                                    correct_blocks.append(block_feedback)
                                                else:
                                                    incorrect_blocks.append(block_feedback)
                                        %>
                                        <div class="col-md-6 py-2">
                                            <p class="text-monospace text-uppercase font-weight-bold text-center my-2"><i class="fas fa-check-circle"></i> Tareas Logradas</p>
                                            <ul>
                                                %for block in correct_blocks:
                                                    <li>${block}</li>
                                                %endfor
                                            </ul>
                                        </div>
                                        <div class="col-md-6 py-2">
                                            <p class="text-monospace text-uppercase font-weight-bold text-center my-2"><i class="fas fa-minus-circle"></i> Tareas no Logradas</p>
                                            <ul>
                                                %for block in incorrect_blocks:
                                                    <li>${block}</li>
                                                %endfor
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <hr class="divider my-4">
                        %endif
                    %endfor
                % endif
            %endfor
            %if no_retro:
            <div class="divno_retro">
                <p class="no_retro">Aún no tiene ninguna retroalimentación asociada a alguna de sus evaluaciones</p>
            </div>
            %endif
        % else:
            <!-- 'Control' Content -->
            %for section in courseware_summary:
                % if get_section_visibility(section['url_name'], course.id):
                    <div class="container my-4 update_visibility">
                        <h2 class="hd hd-2">${section['display_name']}<button id="btn_${section['url_name']}" type="button" class="btn btn-outline-success visibility-btn btn-sm ml-2" onclick="changeVisibility('${section['url_name']}', '${course.id}')">Retroalimentación activada</button></h2>
                    </div>
                % else:
                    <div class="container my-4 update_visibility">
                        <h2 class="hd hd-2">${section['display_name']}<button id="btn_${section['url_name']}" type="button" class="btn btn-outline-danger visibility-btn btn-sm ml-2"  onclick="changeVisibility('${section['url_name']}', '${course.id}')">Retroalimentación desactivada</button></h2>
                    </div>
                % endif

                %for subsection in section['sections']:
                    % if subsection.format and ('Control' in subsection.format):
                        <h2 class="hd hd-2 my-2 text-center text-primary">${subsection.format}</h2>
                        <div class="row d-flex bg-light my-2 p-4" id="feedback-general">
                            %for block, score in subsection.problem_scores.items():
                            <div class="col-12">
                                <form method="post" id="form_${block.block_id}">
                                    <div class="form-group">
                                        <input type="hidden" name="csrfmiddlewaretoken" value="${csrf_token}"/>
                                        <label for="form_input_${block.block_id}" style="cursor: auto;">
                                            <span class="text-monospace">ID Componente </span>
                                            <span class="font-weight-light">${block.block_id}</span>
                                            <br>
                                            <span class="font-weight-bold">Tarea Asociada</span>
                                        </label>
                                        <% 
                                            block_feedback = get_feedback(block.block_id)
                                        %>
                                        <input type="hidden" name="block_id" value="${block.block_id}" />
                                        <input type="text" name="block_feedback" class="form-control" required id="form_input_${block.block_id}" placeholder="Ingresa la Tarea Matemática asociada al Componente" value="${block_feedback}" />
                                        <span id="form_${block.block_id}_status" class="text-success my-2" style="float:left;"></span>
                                        <button type="submit" id="form_${block.block_id}_submit" class="btn btn-outline-primary btn-sm mt-2" style="float: right;">
                                            <span id="form_${block.block_id}_loading" class="spinner-border spinner-border-sm" style="display: none;" role="status" aria-hidden="true"></span>
                                            Actualizar
                                        </button>
                                    </div>
                                </form>
                            </div>
                            %endfor                            
                        </div>
                        <hr class="divider my-4">
                    %endif
                %endfor
            %endfor
            <script>
                function changeVisibility(section_id, course_id) {
                    var btn_text =  $('#btn_'+section_id).html();
                    var url = "${set_visibility_url}";
                    params = {
                        "section_id" : section_id,
                        "course_id" : course_id,
                    }
                   $.ajax({
                        data:  params,
                        url:   url,
                        type:  'post',
                        beforeSend: function () {
                            /*
                            * Set submit button disabled
                            */
                            $('#btn_'+section_id).prop("disabled", true);
                            $('#btn_'+section_id).html("Actualizando Visibilidad");
                        },
                        success:  function (response) {
                            /*
                            * Toggle Button Class (section visibility)
                            */
                            $('#btn_'+section_id).toggleClass('btn-outline-success');
                            $('#btn_'+section_id).toggleClass('btn-outline-danger');
                            if( $('#btn_'+section_id).hasClass('btn-outline-success') ) {
                                $('#btn_'+section_id).html("Retroalimentación activada");
                            } else {
                                $('#btn_'+section_id).html("Retroalimentación desactivada");
                            }
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            $('#btn_'+section_id).html(btn_text);
                            alert("Error, intente nuevamente más tarde");
                            console.log(xhr);
                            console.log(ajaxOptions);
                            console.log(thrownError);
                        },
                        complete: function() {
                            /*
                            * Set submit button enabled, hide loading
                            */
                            $('#btn_'+section_id).prop("disabled", false);
                        }
                    });
                }
                $( document ).ready(function() {
                    $('form').submit(function(e) {
                        var form = $(this);
                        var id = form.attr('id');
                        var url = "${update_url}";
                        data = $('#'+id).serializeArray();
                        params = {
                            "block_id" : data[1].value,
                            "block_feedback" : data[2].value,
                            "course_id" : "${course.id}"
                        }
                        $.ajax({
                            data:  params,
                            url:   url,
                            type:  'post',
                            beforeSend: function () {
                                /*
                                * Set submit button disabled, show loading, and reset input status
                                */
                                $('#'+id+"_submit").prop("disabled", true);
                                $('#'+id+"_loading").show();
                                $('#'+id+"_status").html("")
                            },
                            success:  function (response) {
                                /*
                                * Set input status: correct
                                */
                                $('#'+id+"_status").html("Actualizada Correctamente")
                                console.log(response);
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                alert("Error, intente nuevamente más tarde");
                                console.log(xhr);
                                console.log(ajaxOptions);
                                console.log(thrownError);
                            },
                            complete: function() {
                                /*
                                * Set submit button enabled, hide loading
                                */
                                $('#'+id+"_submit").prop("disabled", false);
                                $('#'+id+"_loading").hide();
                            }
                        });
                        e.preventDefault();
                    });
                });
            </script>
        % endif
    </div>
    
</main>